apiVersion: v1
kind: Secret
metadata:
  name: '{{ ansible_operator_meta.name }}-secret'
  namespace: '{{ ansible_operator_meta.namespace }}'
type: Opaque
data:
  keystone_database_password: {{ keystone_database_password_b64 }}
